results/
results_umap/
results_visual_text/
Pepeganga/
PepegangaCLIPBASE/
PepegangaCLIPFN/
IKEA/
IKEACLIPBASE/
IKEACLIPFN/
Cartier/
CartierCLIPBASE/
CartierCLIPFN/
UNIQLO/
UNIQLOCLIPBASE/
UNIQLOCLIPFN/
WorldMarket/
WorldMarketCLIPBASE/
WorldMarketCLIPFN/
Homy/
HomyCLIPBASE/
HomyCLIPFN/
Homyold/
Homyold2/
RealQ/
RealQ_2/
RealQ_3/
test_images/
recall_precision/
bert_embeddings.py
cprofile_stats.prof
cprofile_stats.txt
datasets_conv4_block6_out.rar
__pycache__/
.vscode/
*.png
*.jpeg
*.jpg
