[RESNET]
NUM_EPOCHS = 50
NUM_CLASSES = 1000
BATCH_SIZE = 256
VALIDATION_STEPS = 200
LEARNING_RATE = 0.1
DECAY_STEPS = 300000
SNAPSHOT_DIR = ""

#############PEPEGANGA
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_Pepeganga/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_Pepeganga/
#############PEPEGANGACLIPBASE
DATA_DIR = F:/Documentos Universidad/MEMORIA/content_PepegangaCLIPBASE/
SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_PepegangaCLIPBASE/
#############PEPEGANGACLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_PepegangaCLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_PepegangaCLIPFN/

#############CARTIER
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_Cartier/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_Cartier/
#############CARTIERCLIPBASE
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_CartierCLIPBASE/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_CartierCLIPBASE/
#############CARTIERCLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_CartierCLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_CartierCLIPFN/

#############IKEA
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_IKEA/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_IKEA/
#############content_IKEACLIPBASE
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_IKEACLIPBASE/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_IKEACLIPBASE/
#############content_IKEACLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_IKEACLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_IKEACLIPFN/

#############UNIQLO
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLO/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLO/
#############UNIQLOCLIPBASE
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLOCLIPBASE/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLOCLIPBASE/
#############UNIQLOCLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLOCLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_UNIQLOCLIPFN/

#############WORLDMARKET
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarket/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarket/
#############WORLDMARKETCLIPBASE
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarketCLIPBASE/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarketCLIPBASE/
#############WORLDMARKETCLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarketCLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_WorldMarketCLIPFN/

#############HOMY
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_Homy/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_Homy/
#############HOMYCLIPBASE
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_HomyCLIPBASE/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_HomyCLIPBASE/
#############HOMYCLIPFN
#DATA_DIR = F:/Documentos Universidad/MEMORIA/content_HomyCLIPFN/
#SEARCH_DIR = F:/Documentos Universidad/MEMORIA/content_HomyCLIPFN/

CHANNELS = 3
#KEEP_ASPECT_RATIO = TRUE
IMAGE_TYPE = IMAGE
IMAGE_WIDTH = 224
IMAGE_HEIGHT = 224
SHUFFLE_SIZE = 10000
#USE_L2 = True
#WEIGHT_DECAY = 1e-4
USE_MULTITHREADS = True
NUM_THREADS = 12
#CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_4/045.h5
#CKPFILE = /home/vision/smb-datasets/ILSVRC/convnet2/snapshots_rename/001.h5


